@use 'reset'; 
@use 'footer'; 

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'josefin sans', sans-serif;
    font-size: 1em; 
    background-color: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%); 
}

.todo { 
    text-transform: uppercase; 
    color: hsl(0, 0%, 98%); 
    order: -1; 
    // kerning? 
    // font-weight? 
}

header { 
    background-image: url(../images/bg-mobile-light.jpg); 
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}